.control-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.control-panel > p {
  border-bottom: 5px solid #262729;
  padding: 10px 0;
}

.control-panel-buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 5px;
}
