.control-panel-button {
  background-color: #525251;
  color: #d4d4d4;
  height: 50px;
  width: 100px;
  border: 1px solid #262729;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
}

.control-panel-button:hover {
  background-color: rgb(110, 110, 109);
}
