.update-button {
  background-color: #d4d4d4;
  height: 50px;
  width: 100px;
  border: 1px solid #262729;
  cursor: pointer;
  margin: auto;
}

.update-button:hover {
  background-color: rgb(82, 82, 81);
}
