@import "normalize.css";

.app {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #3d3d3b;
  color: #d4d4d4;
  width: auto;
  min-height: 682px;
  right: 0;
  margin: 0 0 0 15px;
}
